:root {
    --primary-color: #669BBC; /*light blue*/
    --secondary-color: #29335C; /*dark blue*/
    --accent1-color: #F3A712; /*yellow*/
    --accent2-color:  #E54E30; /*orange*/
    --heading-font: "Luckiest Guy", sans-serif;
    --body-font: "Roboto", sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--accent2-color);
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 64px;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: var(--secondary-color);
}
nav a {
    text-decoration: none;
    color: #fff;
    font-family: var(--body-font);
    font-size: 1.2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: #fff;
}

header, main, footer {
    max-width: 1200px;
    padding: 16px;
    margin: 0 auto;
    gap: 32px;
}

h1, h2 {
    font-family: var(--heading-font);
}

p {
    margin: 16px;
    padding: 8px;
    color: #fff;
}

 section, article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid var(--accent1-color);
    background-color: var(--secondary-color);
    color: #fff;
}

/*Socialmedia Section*/
.socialmedia a {
    text-decoration: none;
}
.socialmedia img {
    float: right;
    width: 50px;
}

/*Hero Section*/
.hero {
    position: relative;
    max-width: 1200px;
    margin: 32px auto;
    border: 2px solid var(--secondary-color);
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;
}
.hero article {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    bottom: 20px;
    width: 95%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: #fff;
}
.hero article img {
    float: right;
    margin-top: 25px;
    width: 125px;
}

/*Hisotry Section*/
.history {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.history h2 {
    text-align:center;
}

.history-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Adventure Section*/
.adventure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.adventure h2 {
    text-align: center;
}
.adventure figure {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 150px;
    margin: 0 16px;
    text-align: center;
}